.cover-heading{
  background: url("../images/logo.png");

  width: 450px;
  height: 150px;

  font-size: 0;
  line-height: 0;

  margin: 50px auto 10px;
}

.box{
	background: rgba(0,0,0,.5);
	padding: 20px;
	margin: 10px;
}